

.navigation {

    .navigation__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .navigation__list__item {

        text-decoration: none;
        list-style: none;
    }
}
}
