@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.navigation {

    .navigation__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-family: "Urbanist", sans-serif;

    .navigation__list__item {

        list-style: none;
      

         a {

            text-decoration: none;
        }
    }
}
}
